#grid {
    padding-top: 70px;
    z-index: -1;
    padding-left: 30px;
    background-color: #E9E9E9;
    height: 100vh;
    overflow: scroll;
}
.description {
    text-align: center;
    height: 50px;
    margin-top: 5px;
}
a, a:hover{
    text-decoration: none;
    color: black;
}
.recipe-item {
    margin: 10px;
    padding-top: 10px;
    background-color: #FFFFFF;
    border: solid 1px #E7E7E7;
    border-radius: 5px;
}
.container-fluid {
    padding: 0px;
}
#recipe_popup {
    background-color: white;
    border-radius: 5px;
    width: 70%;
    padding: 15px;
    height: 70%;
    overflow: scroll;
}
#close_popup {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    border: none;
}
.recipe-item img{
    margin-right: auto;
    margin-left: auto; 
    border-radius: 5px;
    max-height: 150px;
}
.popup_open {
    background-color: transparent;
    border: none;
    width: 100%;
}
#image {
    width: 40%;
    float: left;
    padding: 30px;
}
#ingredients {
    width: 60%;
    float: left;
    padding: 30px;
}
#instr {
    clear: both;
}
h2 {
    text-align: center;
}
button {
    float: right;
}
label {
    margin-left: 10px;
}
.submit-btn {
    margin: 10px;
}
.btn.no-outline {
    background-color: transparent;
}
.btn-primary.no-outline {
    float: right;
    color: #8BABD6;
    border: none;
}
.btn-primary.no-outline:hover, .btn-primary.no-outline:focus, .btn-primary.no-outline:active, .btn-primary.no-outline.active, .open > .dropdown-toggle.btn-primary {
    float: right;
    color: #33a6cc;
    border: none;
}
.btn-primary.no-outline:active, .btn-primary.no-outline.active {
    float: right;
    color: #007299;
    box-shadow: none;
    border: none;
}
.alert {
    margin-top: 10px;
    padding: 5px 10px;
}
.ingredient-item {
    clear: both;
}
