#grid {
    padding-top: 70px;
    z-index: -1;
    padding-left: 30px;
}
.description {
    text-align: center;
}
a, a:hover{
    text-decoration: none;
    color: black;
}
.recipe-item {

}
#recipe_popup {
    background-color: white;
    border-radius: 5px;
    width: 70%;
    padding: 15px;
    height: 70%;
    overflow: scroll;
}
#close_popup {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    border: none;
}
.recipe-item img{
    max-height: 200px;
    margin-right: auto;
    margin-left: auto; 
}
.popup_open {
    background-color: transparent;
    border: none;
}

#image {
    width: 40%;
    float: left;
    padding: 30px;
}
#ingredients {
    width: 60%;
    float: left;
    padding: 30px;
}
#instr {
    clear: both;
}
h2 {
    text-align: center;
}
button {
    float: right;
}
label {
    margin-left: 10px;
}