html,
body {
    height: 100%;
    	background-color: #E9E9E9;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#wrapper {
	overflow: hidden;
}
#lists {
	padding-top: 70px;
	padding-left: 25px;
}
#grocery {
	float: left;
	width: 50%;
	overflow: scroll;
	height: 100vh;
	padding: 30px;
	border-right: 10px solid #E9E9E9;
	background-color: #F7EE78;
	margin-bottom: 20px;
}
#inventory {
	float: left;
	width: 50%;
	overflow: scroll;
	padding: 30px;
	background-color: #F7EE78;
	height: 100vh;
}
h2 {
	margin-bottom: 10px;
	text-align: center;
}
hr {
	color: #8BABD6;
	background-color: #8BABD6;
	height: 3px;
	margin-bottom: 0px;
}
.item{
	border-top: 1px solid #8BABD6;
	border-bottom: 1px solid #8BABD6;
	padding: 5px;
	cursor: move;
	
	background-color: #F7EE78;
}
.sortable-placeholder {
    border: 2px dashed #8BABD6;
    height: 40px;
    background: white;
    opacity: 0.5;
}
label {
	font-size: 125%;
	margin-left: 10px;
}
.edit {

	padding: 5px;
	float: right;
}
.edit-btn {
	background-color: transparent;
	border: none;
}
.add-item {
	background-color: white;
	border: none;
	opacity: 0.5;
	margin: 5px 5px 5px 0px;
	border-radius: 5px;
}
.btn.no-outline {
	background-color: transparent;
}
.btn-primary.no-outline {
	float: right;
	color: #8BABD6;
	border: none;
}
.btn-primary.no-outline:hover, .btn-primary.no-outline:focus, .btn-primary.no-outline:active, .btn-primary.no-outline.active, .open > .dropdown-toggle.btn-primary {
	float: right;
    color: #33a6cc;
    border: none;
}
.btn-primary.no-outline:active, .btn-primary.no-outline.active {
	float: right;
    color: #007299;
    box-shadow: none;
    border: none;
}
.item-name {
	background-color: transparent;
	border: none;
	font-size: 15px;
	font-weight: bold;
	color: black;
	width: 55%;
}
.item-units {
	text-align: center;
	color: gray;
	width: 2%;
}
.item-quantity {
	text-align: center;
	color: gray;
	width: 8%;
}
#item-edit-popup {
  display: none;
  position: fixed;
  width: 25%;
  left: 50%;
  margin-left: -150px;
  top: 40%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  padding: 15px;
}