html,
body {
    height: 100%;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#grocery-list {
	float: left;
	width: 50%;
	overflow: scroll;
	height: 100vh;
	padding: 30px;
	border-right: 10px solid white;
	background-color: #F7EE78;
}
#inventory {
	float: left;
	width: 50%;
	overflow: scroll;
	padding: 30px;
	background-color: #F7EE78;
	height: 100vh;
}
h2 {
	margin-bottom: 10px;
	text-align: center;
}
hr {
	color: #8BABD6;
	background-color: #8BABD6;
	height: 3px;
	margin-bottom: 0px;
}
.item{
	border-top: 1px solid #8BABD6;
	border-bottom: 1px solid #8BABD6;
	padding: 5px;
	cursor: move;
	height: 40px;
	background-color: #F7EE78;
}
.sortable-placeholder {
    border: 3px dashed #8BABD6;
    height: 40px;
    background: white;
}
label {
	font-size: 125%;
	margin-left: 10px;
}